environment:
  matrix:
    - nodejs_version: "7.5.0"
    - nodejs_version: "6.9.5"
cache:
  - node_modules
install:
  - ps: Install-Product node $env:nodejs_version
  - if exist node_modules npm prune
  - if exist node_modules npm rebuild
  - npm install
  - npm install -g mocha
build: off
test_script:
  - node --version
  - npm --version
  - npm run test
version: "{build}"
